.loading {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredText {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
